@{
    ViewBag.Title = "Home";
}

<div class="row">
    <br />
    <div align="center">
        <img src="~/Images/axsisLogo.gif" />
        <br />
        <h3><strong>Evaluación técnica</strong></h3>
        <hr />
        <h4>Sistema para dar de alta Usuarios</h4>
    </div>
</div>